<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gao.myspringboot.mapper.ListenMapper">

    <!--根据ID查询一条听力-->
    <select id="queryListenById" resultType="Listen">
        select * from studywords.listen where listenId=#{listenId}
    </select>

    <!--删除一条听力-->
    <delete id="deleteListen" parameterType="Integer">
        delete from studywords.listen where listenId=#{listenId}
    </delete>
    <!--修改一条听力-->
    <update id="updateListen" parameterType="Listen" >
        update studywords.listen set listenName=#{listenName},grade=#{grade},content=#{content}
        where listenId=#{listenId}
    </update>


</mapper>